<div class="container mb-5">
    <h2>Tarifs</h2>

    <div class="card">
        <div class="card-body d-flex align-items-center flex-column">
            <blockquote class="blockquote mb-0">
                <div class="d-flex justify-content-between text-left">
                    <p>Adultes</p>
                    <p>14,00€</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Enfants (moins de 12 ans)</p>
                    <p>7,00€</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Groupes (à partir de 10 personnes)</p>
                    <p>70,00€</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Ecoles</p>
                    <p>50,00€</p>
                </div>
            </blockquote>
            <footer class="blockquote-footer">
                Les groupes et les écoles doivent faire une réservation au moins une
                semaine à l'avance
            </footer>
        </div>
    </div>

</div>

{#Adults	Children (-12 y.o)	Groups (+10)*	School*
Week (exept Wednesday)	$14,00	$7,00	$70,00	$50,00
Week-end & Wednesday	$20,00	$14,00	$90,00	$70,00
#}