<div class="container">
    <h2>Troupe</h2>

    <div class="d-flex justify-content-center mt-5 flex-wrap">
        {% for troop in troops %}
            <div class="d-flex flex-column align-items-center">
                <div class="m-4 d-flex justify-content-center align-items-center bloc-pic">
                    <div class="troop-back bg-secondary"></div>
                    <img src="{{ troop.picture }}" alt="" class="troop-member">
                </div>
                <h3 class="mt-n4">{{ troop.alias }}</h3>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center m-5">
        <a href="{{ path('troop_list') }}" class="btn btn-secondary mt-5">
            <i class="fas fa-users mr-2"></i> Voir toute la troupe
        </a>
    </div>
</div>
