{% extends 'layout.html.twig' %}

{% block body %}
    {% include '_carousel.html.twig' %}

    <section class="event" id="spectacles">
        {% include 'home/_shows.html.twig' %}
    </section>

    <section class="troop bg-dark pb-2" id="troupe">
        {% include 'home/_troop.html.twig' %}
    </section>

{% endblock %}
