{% extends 'layout.html.twig' %}

{% block body %}
    {% include '_carousel.html.twig' %}

    <section class="event" id="spectacles">
        {% include 'home/_shows.html.twig' %}
    </section>

{% endblock %}
