{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">

        <a href="{{ path('index') }}" class="btn btn-secondary mt-5">
            <i class="fas fa-reply mr-2"></i> Retour
        </a>
        <h1 class="text-center mt-5">Photos de la troupe</h1>
    </div>

    <div class="container-fluid troop mb-5">
        <div class="d-flex align-items-center mt-5">
            <div class="row no-gutters justify-content-center ">
                {% for troop in troops %}
                    <div class="d-flex flex-column align-items-center troop-list">
                        <div class="m-4 d-flex justify-content-center align-items-center">
                            <div class="troop-back"></div>
                            <p class="troop-infos">{{ troop.speciality }}</p>
                            <img src="{{ troop.picture }}" alt="" class="troop-member rounded-circle">
                        </div>
                        <h3 class="mt-n4">{{ troop.alias }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}