.carousel-item {
    height: calc(100vh - 3rem);
}

.carousel-inner {
    height: 100%;
}

.carousel-caption {
    top:0;
    text-shadow: $warm 0 0 50px;

    p {
        text-shadow: $dark 0px 0px 2px;
        width: 60%;
    }
}

.carousel-title {
    font-family: 'Irish Grover', cursive;
    color:#fff;
    font-size: 10rem;
}
