.navbar-dark {
    color: $light;

    .navbar-nav {
        .nav-item {
            a {
                color:$secondary;
            }
        }
    }
}

.nav-link {
    margin-left: 1rem;
}

.navbar-brand {
    .brand {
        height: 4rem;
        filter: invert(50%);
    }
}
