.navbar-dark .navbar-nav .nav-link

.navbar-dark {
    color: $light;

    .navbar-nav {
        .nav-item {
            a {
                color:$secondary;
            }
        }
    }
}

//.navbar-dark {
//    .nav-link {
//        color: $secondary;
//    }
//
//    a {
//        color: $secondary;
//    }
//    a:hover {
//        color: lighten($secondary, 20%);
//    }
//}

.nav-link {
    margin-left: 1rem;
}
