.event {

    $picture-size: 30rem;

    .card-back {
        height: $picture-size / 2;
        width: $picture-size / 2;
        transform: rotate(45deg);
        position: absolute;
        z-index: 0;
    }

    .card {
        max-width: 100vw;
        border: none;
        margin: 1rem;
        background-color: fade_out($primary, 0.7);
        z-index: 1;
        margin-bottom: 6rem;
    }

    .card-image {
        background: no-repeat;
        background-size: cover;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: fade_out($dark, 0.4);
    }

    .card-title {
        border-bottom: 2px solid $dark;
        mix-blend-mode: luminosity;
    }

    .infos {
        width: 75%;
    }

    .card:hover {
        .card-body {
            background-color: transparent;
        }

        .card-title {
            border-bottom: solid 1px $primary;
            text-shadow: $dark 0 0 20px;
        }

        p {
            color: transparent;
        }

    }
}

@media screen and (max-width: 575px) {
    .infos {
        width: 100%;
    }

    .details {
        .container-fluid {
            margin-top: 3rem;
        }
    }
}
