.troop {

    h3 {
        z-index: 1;
        text-shadow: $dark 1px 1px 2px;
    }

}

$picture-size: 20rem;

.bloc-pic {
    margin: 2rem;
}

.troop-back {
    width: $picture-size ;
    height: $picture-size;
    position: absolute;
    transform: rotate(45deg);
}

.troop-member {
    position: relative;
    z-index: 2;
    width: $picture-size;
    height: $picture-size;
    object-fit: cover;
}

.troop-member:hover {
    opacity: 0.5;
}

.troop-list {
    margin-top: 5rem;
}

.troop-infos {
    position: absolute;
    color: $dark
;
    opacity: 1;
    font-size:2.5rem;
    width: min-content;
    text-align: center;
}
