@import "vars";
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "home";
@import "admin";

@import "footer";
@import "details";

@mixin title-font {
    font-family: 'Irish Grover', cursive;
}

@mixin second-title {
    font-family: 'Oswald', sans-serif;
}

body {
    margin:0;
    min-height: 100vh;
    background-color: $dark;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color:$secondary;
    background-image: url("https://zupimages.net/up/20/05/4b9t.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 3rem;
    overflow-x: hidden;
}

h1 {
    @include title-font;
    color:$primary;
    font-size: calc(2rem + 3vw);
}

h2 {
    @include second-title;
    color: $primary;
    font-size: calc(1.1rem + 3vw);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

h3 {
    @include second-title;
    color: $middle;
    font-size: calc(1rem + 1vw)
}
