{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-flex justify-content-center">
    <button class="btn btn-secondary mt-5 mb-5">
        <i class="fas fa-save mr-2"></i> {{ button_label|default('Ajouter') }}
    </button>
</div>
{{ form_end(form) }}
