{% extends 'layout_admin.html.twig' %}

{% block title %}Nouveau membre{% endblock %}

{% block body %}
    <div class="container admin">

        <a href="{{ path('troop_index') }}" class="btn btn-secondary mt-5">
            <i class="fas fa-reply mr-2"></i> Retour
        </a>

        <h1>Ajouter un membre</h1>

        {{ include('troop/_form.html.twig') }}

    </div>
{% endblock %}
