<div id="carouselExampleControls" class="carousel slide d-none d-lg-block" data-ride="carousel">

    <div class="carousel-inner">

        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
            <h1 class="carousel-title">Wild Circus</h1>
            <p class="carousel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aperiam consequuntur doloribus error,
                esse
                impedit modi molestias natus neque, nesciunt omnis perspiciatis quasi quia quod reprehenderit soluta
                velit
                veniam vitae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur culpa, est eum
                ex
                expedita fuga impedit nam nihil quasi. Atque cumque ea optio quasi, repellat reprehenderit repudiandae
                voluptates! Dolore!
            </p>
        </div>

        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('build/images/barnum.webp') }}" alt="First slide">
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('build/images/circus.webp') }}" alt="Second slide">
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('build/images/girl-on-fire.webp') }}" alt="Third slide">
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div>